/* Group Selector */
h1,footer{
    background-color: lightgreen;
    
}
/* element selector */
footer{
    border: 2px solid black;
}
/* Single Selector */
span{
    background-color: lightcoral;
    font-style: italic;
    font-size: 25px;
}
/* id selector */
#idelement{
    background-color: lightseagreen;
}
.classelement{
    color: burlywood;
}